body{
    margin: 0;
    padding: 0;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

/* Slider */
.slider_container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slider{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slides{
  width: 500vw;
  height: 100vh;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 100vw;
  transition: 2s;
  position: relative;
}
.slide_content{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.slide_content > img{
    width: 15rem;
    margin-left: 3rem;
}

.slide > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide-btn{
    position: absolute;
    top: 70%;
    left: 25%;
    transform: translateX(-25%);
    background: white;
    color: rgba(83,83,83,255);
    font-weight: 700;
    padding: 0.8rem 4rem;
    border-radius: 20px;
}

/*css for manual slide navigation*/

.navigation-manual{
    display: none !important;
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
    display: none !important;
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}


/* Nav Bar */
.navbar{
    position: absolute;
    top: 2rem;
    right: 6rem;
    z-index: 1000;
}
.navbar .nav_1{
    text-align: end;
    margin-bottom: 2.5rem;
}
.navbar .nav_1 a{
    background: rgba(3,33,66,255);
    color: white;
    text-decoration: none;
    padding: 0.8rem 1.3rem;
}
.navbar .nav_2 a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
}
.navbar .nav_2 a:not(:last-child){
    margin-right: 2rem;
}
.navbar .nav_2 .btn-1{
    background-color: rgba(253,168,19,255);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
.navbar .nav_2 .btn-2{
    background-color: rgba(255, 255, 255,0.5);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}


.info-1{
    height: 100vh;
    position: relative;
}
.info-1 > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info-1-content{
    position: absolute;
    top: 50%;
    width: 35%;
    right: 25%;
    transform: translate(25%,-50%);
}
.info-1-content h1{
    font-size: 2.3rem;
    font-weight: 700;
    color: #fc4c2c;
}
.info-1-content p{
    font-size: 1.3rem;
    line-height: 29px;
    letter-spacing: 1px;
    color: #000000;
    font-weight: 600;
}
.info-1-content p > span{
    color: rgba(253,168,19,255);
}


.info-2{
    height: 100vh;
    position: relative;
}
.info-2 > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info-2-content{
    position: absolute;
    top: 10%;
    left: 16%;
}
.info-2-content > h1{
    color: white;
    width: 55%;
    font-size: 2.4rem;
}

.info-3{
    height: 100vh;
    background-color: rgba(253,168,19,255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-3 > img{
    width: 35rem;
    height: 75vh;
    object-fit: cover;
}
.info-3 .info-3-content{
    width:30%;
    text-align: center;
    color: white;
    margin-left: 6rem;
}
.info-3 .info-3-content h1{
    font-size: 2.5rem;
    color: #fd6d53;
}
.info-3 .info-3-content p{
    font-size: 1.4rem;
    line-height: 29px;
    font-weight: 600;
}

.footer-1{
    padding: 0 7rem;
    height: 100vh;
    background-color: #032142;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.footer-1 img{
    width: 15rem;
}
.footer-1 > div > div{
    margin-left: 2rem;
}
.footer-1 div div ul{
    display: flex;
    flex-direction: column;
}
.footer-1 div div ul a{
    color: white;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}
.footer-1 div span{
    font-size: 1.3rem;
    font-weight: 700;
}
.footer-1 .footer-div{
    height: 20rem;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}
